<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="xml_feed_model_example">
            <label>Xml Feed Model Example</label>
        </tab>
        <section id="mapper" showInStore="1" showInWebsite="1" showInDefault="1" translate="label" sortOrder="1">
            <label>Order Feed Fields</label>
            <tab>xml_feed_model_example</tab>
            <resource>Alaa_XmlFeedModelExample::config</resource>
            <group id="mapped_fields" showInStore="1" showInWebsite="1" showInDefault="1" translate="label" sortOrder="1">
                <label>Mapped Fields</label>
                <field id="order" showInStore="1" showInWebsite="1" showInDefault="1" translate="label" sortOrder="1">
                    <label>Order Fields</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <frontend_model>Alaa\XmlFeedModel\Block\Adminhtml\System\Config\Form\Field\FieldArray\SubjectFieldArray</frontend_model>
                </field>
                <field id="customer" showInStore="1" showInWebsite="1" showInDefault="1" translate="label" sortOrder="2">
                    <label>Customer Fields</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <frontend_model>Alaa\XmlFeedModel\Block\Adminhtml\System\Config\Form\Field\FieldArray\SubjectFieldArray</frontend_model>
                </field>
                <field id="customer_address" showInStore="1" showInWebsite="1" showInDefault="1" translate="label" sortOrder="3">
                    <label>Customer Address Fields</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <frontend_model>Alaa\XmlFeedModel\Block\Adminhtml\System\Config\Form\Field\FieldArray\SubjectFieldArray</frontend_model>
                </field>
                <field id="item" showInStore="1" showInWebsite="1" showInDefault="1" translate="label" sortOrder="4">
                    <label>Order Item Fields</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <frontend_model>Alaa\XmlFeedModel\Block\Adminhtml\System\Config\Form\Field\FieldArray\SubjectFieldArray</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>